# Data Structure Assignment

# 1) Discuss string slicing and provide examples?

#String slicing allows you to extract parts of a string using a specified range 
#of indices. Itâ€™s like wielding a mystical blade to carve out precisely what you 
#need from a larger tapestry of characters.

#Examples of String Slicing

#1)Basic Slicing:

#You can slice a string using the syntax: string[start:stop:step]

In [1]:
text = "Hello, World!"

# Extracting "Hello"
print(text[0:5])  # Output: Hello

# Extracting "World"
print(text[7:12])  # Output: World

# Extracting the entire string
print(text[:])  # Output: Hello, World!

Hello
World
Hello, World!

In [2]:
string1 = "i am a good student"
string1[0:4]   # 4 is exclusive [a,b] >> it will give the result till b-1 index

'i am'

#2)Omitting Indices:

#You can omit the first or last index for convenience

In [3]:
text = "mybacon"

# Extracting "bac"
print(text[2:5])  # Output: bac

# Extracting "bacon"
print(text[2:7])  # Output: bacon

# Extracting "my"
print(text[0:2])  # Output: my

bac
bacon
my

In [6]:
string2 = "krackofficer"
print(string2[2:12])

ackofficer

#3)Negative Indices (The Reverse Spell):

#Negative indices allow you to slice from the end of the string:

In [7]:
text = "GEEKSFORGEEKS"

# Extracting "GEE"
print(text[:3])  # Output: GEE

# Extracting "EK" (skipping every second character)
print(text[1:5:2])  # Output: EK

GEE
EK

In [8]:
string3 = "maharaja"
string3[:-3]  #all character except the last three character

'mahar'

In [9]:
string3 = "hello duniya"
string3[0:5:1] # by default step is 1

'hello'

In [10]:
string3[::1]

'hello duniya'

# 2)Explain the key feature of lists in Python?

#A Python list is a versatile, flexible, and powerful built-in data type. 
#It allows you to create variable-length and mutable sequences of objects.
##list >> ordered collection of items
#[]
#list >> like a shopping bag that can store anything
#can store any data type >> hetrogeneous

#Here are the key features of lists:

#1)Ordered:
#List items have a defined order that remains constant unless explicitly modified.
#New items added to a list are placed at the end.

In [7]:
lis =["apple","mango","banana"]
lis.append("grapes")

In [10]:
lis

['apple', 'mango', 'banana', 'grapes']

In [12]:
print(lis[0])    #accessing list item by index

apple

In [13]:
lis[2]

'banana'

In [16]:
#use cases
playlist = []
playlist.append("sare jahan se accha")
playlist.append("tujhe dekha to ye")
playlist.append("maa tujhe salaam")
playlist

['sare jahan se accha', 'tujhe dekha to ye', 'maa tujhe salaam']

#2)Mutable (Changeable):
#You can alter, add, and remove items from a list after its creation.
#Lists adapt to your magical needs!

In [1]:
#creating a list of magical artifacts
artifacts = ["Wand", "Amulet", "Spellbook", "Potion", "Crystal Ball"]

In [2]:
# Adding a new item to the end of the list
artifacts.append("Scroll")
print(artifacts)

['Wand', 'Amulet', 'Spellbook', 'Potion', 'Crystal Ball', 'Scroll']

In [9]:
# Removing an item by value
artifacts.remove("Potion")
print(artifacts)

['Wand', 'Amulet', 'Spellbook', 'Crystal Ball', 'Scroll']

In [22]:
#insert object before index
artifacts = ["Wand", "Amulet", "Spellbook", "Potion", "Crystal Ball"]
artifacts.insert(3,"chawal")
artifacts

['Wand', 'Amulet', 'Spellbook', 'chawal', 'Potion', 'Crystal Ball']

#3)Allow Duplicates:
#Since lists are indexed, they can contain items with the same value.
#You can have multiple magical apples or enchanted bananas!

In [23]:
msg = "your appointment is tommorrow \n"
print(msg*3)

your appointment is tommorrow
your appointment is tommorrow
your appointment is tommorrow

In [24]:
["neil"]*5

['neil', 'neil', 'neil', 'neil', 'neil']

#4Heterogeneous Elements:
#A list can store objects of any data type.
#Mix strings, integers, floats, and even custom objects within the same list.

In [25]:
grocery_list =["orange","apple",1,4,5+6j,4.5,True,False]
grocery_list

['orange', 'apple', 1, 4, (5+6j), 4.5, True, False]

In [26]:
type(grocery_list)

list

In [28]:
type(grocery_list[0])

str

In [30]:
type(grocery_list[1])

str

In [31]:
type(grocery_list[2])

int

In [33]:
type(grocery_list[4])

complex

In [34]:
type(grocery_list[5])

float

In [35]:
type(grocery_list[6])

bool

#5)slicing the list is another key feature

In [40]:
grocery_list =["orange","apple",1,4,5+6j,4.5,True,False]
selected_grocery = grocery_list[1:4]
print(selected_grocery)

['apple', 1, 4]

#6)Checking if an item exists in the list

In [42]:
if "apple" in grocery_list:
    print("thank god ! i got it.")
else:
    print("oh shit! i forget")

thank god ! i got it.

In [44]:
if "tarbuj" in grocery_list:
    print("thank god ! i got it.")
else:
    print("oh shit! i forget.")

oh shit! i forget.

#7) Finding the length of the list

In [45]:
len(grocery_list)

8

# 3)Describe how to access, modify, and delete elements in a list with examples?

#Accessing Elements in a List:

#1)By Index (The Sorcererâ€™s Way):
#You can access individual elements using their index (position) within the list.
#Indices start from 0 (like magical scrolls numbered from the beginning).

In [46]:
wizards = ["Gandalf", "Merlin", "Dumbledore", "Rincewind"]

# Access the first wizard
print(wizards[0])  # Output: Gandalf

# Access the third wizard
print(wizards[2])  # Output: Dumbledore

Gandalf
Dumbledore

#2)Negative Indices (The Reverse Spell):
#Negative indices count from the end of the list.
#-1 refers to the last element, -2 to the second-to-last, and so on.

In [47]:
# Access the last wizard
print(wizards[-1])  # Output: Rincewind

Rincewind

In [48]:
print(wizards[-3])

Merlin

#Modifying Elements in a List:

#1)By Index (The Shape-Shifting Spell):
#You can change the value of an existing element by assigning a new value to its index.

In [49]:
wizards[1] = "Morgana"
print(wizards)

['Gandalf', 'Morgana', 'Dumbledore', 'Rincewind']

In [50]:
wizards[2] = "KRACKOFFICER"

In [51]:
wizards

['Gandalf', 'Morgana', 'KRACKOFFICER', 'Rincewind']

#Deleting Elements from a List:

#1)By Index (The Vanishing Spell):
#To remove an element, use the del statement followed by the index.

In [52]:
del wizards[2]  # Removes 'KRACKOFFICER'
print(wizards)  # Output: ['Gandalf', 'Morgana', 'Rincewind']

['Gandalf', 'Morgana', 'Rincewind']

#2)Using pop() (The Disappearing Act):
#The pop() method removes and returns the last element by default.
#You can specify an index to remove a specific element.

In [53]:
removed_wizard = wizards.pop(0)  # Removes 'Gandalf'
print(f"Removed wizard: {removed_wizard}")
print(wizards)  # Output: ['Morgana', 'Rincewind']

Removed wizard: Gandalf
['Morgana', 'Rincewind']

In [54]:
book_list = ["data analytics","algorithm","conclusion","index","algorithm"]
book_list.pop()     #LAST ELEMENT REMOVED

'algorithm'

In [55]:
book_list.pop(2) #removes index 2 element from the  list

'conclusion'

# 4)Compare and contrast tuples and lists with examples?

#COMPARISION OF TUPLES & LISTS

In [161]:
table1 ="FEATURES          \tTUPLES                                  \tLISTS\nMUTABILITY             \timmutable(cant be changed)                \tmutable (can changed)"
table2 ="SYNTAX          \tTuples use parentheses (())               \tLists use square brackets ([])"
table3 ="Use Case        \tTuples for fixed records or data points\t	Lists for dynamic collections of item"
table4 ="Memory Efficiency    \tTuples consume less memory                    \tLists consume more memory"
table5 ="Built-in Methods    \tTuples have fewer built-in methods             \tLists have many built-in methods"


print(table1)
print(table2)
print(table3)                   #i tried hard for  this table 
print(table4)                                            
print(table5)

FEATURES          	TUPLES                                  	LISTS
MUTABILITY             	immutable(cant be changed)                	mutable (can changed)
SYNTAX          	Tuples use parentheses (())               	Lists use square brackets ([])
Use Case        	Tuples for fixed records or data points		Lists for dynamic collections of item
Memory Efficiency    	Tuples consume less memory                    	Lists consume more memory
Built-in Methods    	Tuples have fewer built-in methods             	Lists have many built-in methods

#Examples compring Tuples & Lists given below----

In [106]:
#To check mutability in TUPLES
t = ("krackofficer","neil",2,2.5,5+4j,True)       #syntax parentheses (())is used here
t

('krackofficer', 'neil', 2, 2.5, (5+4j), True)

In [107]:
type(t)

tuple

In [108]:
t[0]    #output is 'krackofficer'

'krackofficer'

In [111]:
t[0] ="bazigar"   #since it is immutable

TypeError: 'tuple' object does not support item assignment

In [114]:
#To check mutability in LISTS
grocery_list =["orange","apple",1,4,5+6j,4.5,True,False]     #syntax square brackets ([]) is used here
grocery_list

['orange', 'apple', 1, 4, (5+6j), 4.5, True, False]

In [115]:
grocery_list[0]

'orange'

In [116]:
type(grocery_list)

list

In [117]:
grocery_list[0] = "KRACKOFFICER"     #List are mutable so change possible 


grocery_list

['KRACKOFFICER', 'apple', 1, 4, (5+6j), 4.5, True, False]

In [118]:
#In tuples >>  use case >> adhar id, empl id, pan id  >> u dont want to change & use tuple to store the data
emp_name = ("sanjay","viajay","rahul","mahesh")    
emp_name

('sanjay', 'viajay', 'rahul', 'mahesh')

In [ ]:
t = (1,2,"apple",5+6j) # tuple is hetrogeneous

In [119]:
t

('krackofficer', 'neil', 2, 2.5, (5+4j), True)

In [120]:
#In Lists >>use case                #can modify,change,add etc in Lists
bus_seat =["neil","naina","virat"]
bus_seat.insert(1,"jhamman")
bus_seat

['neil', 'jhamman', 'naina', 'virat']

In [121]:
grocery_list =["orange","apple",1,4,5+6j,4.5,True,False]   #list is also hetrogeneous i.e can have int,complex,bool,num,str.
grocery_list

['orange', 'apple', 1, 4, (5+6j), 4.5, True, False]

# 5)Describe the key features of sets and provide examples of their use?

#Sets are a fundamental data type in many programming languages, including Python. 
Here are the key features of sets:

#1)Unordered >> Sets do not maintain any particular order for elements >> When you iterate over a set, the order of elements is not guaranteed.

In [122]:
s = {"viper","anaconda","black mamba","cobra"}  #sets >> are unordered 
s

{'anaconda', 'black mamba', 'cobra', 'viper'}

In [128]:
type(s)

set

In [127]:
s[0]    #error >> no indexing as sets are unordered & unique

TypeError: 'set' object is not subscriptable

In [125]:
#Creating a set
my_set = {3, 2, 1, 4}
print(my_set)

{1, 2, 3, 4}

#2)Unique Elements >>Sets automatically remove duplicate elements>> Each element in a set is unique

In [126]:
s ={"Neil","neil","Neil","neil",1,1,1,2,2,2,2,2,3}  #shows set is a unique collection of element
s

{1, 2, 3, 'Neil', 'neil'}

#3)Mutable>> You can add or remove elements from a set after its creation >>However, the elements within a set must be immutable (e.g., integers, strings, tuples).

In [129]:
#check mutability
s={ "red","orange","pink","red","pink"} 
s

{'orange', 'pink', 'red'}

In [131]:
s.add("krackofficer")   #adding 
s

{'krackofficer', 'orange', 'pink', 'red'}

In [132]:
s.remove("pink")       #removing
s

{'krackofficer', 'orange', 'red'}

In [133]:
s = {1,1,1,2,2,2,{1,1,12,2}}     #sets inside sets
s                              #unashable type error >> it is mutable >> list,sets
                              #immutable data structure has a stable hash value like tuples

TypeError: unhashable type: 'set'

In [134]:
s = {1,1,1,2,2,2,[1,1,12,2]}   #list inside sets >> mutable >> shows error
s

TypeError: unhashable type: 'list'

In [135]:
s = {1,1,1,2,2,2,(1,1,12,2)}   # tuple inside sets >>shows no error as immutable >>stable hash type
s

{(1, 1, 12, 2), 1, 2}

#4)Optimized for Membership Testing>> Sets are highly optimized for checking whether an element is present #Membership tests (in, not in) are fast

In [142]:
t1 = {34,787,468468,4476,487486,34324,1000000000,58674868739793749,8478}
max(t1)

58674868739793749

In [143]:
type(t1)

set

In [144]:
min(t1)  #checking if element present or not

34

In [145]:
34 in t1  #as 34 is present so True

True

In [146]:
1011 in t1   #as 1011 not present in t1 so False

False

In [147]:
1011 not in t1   #as 1011 not present in t1 so we know this is not present so True

True

In [148]:
34 not in t1

False

In [149]:
s = {1,1,1,2,2,2,(1,1,12,2)}
s

{(1, 1, 12, 2), 1, 2}

In [150]:
type(s)

set

In [151]:
for i in s:
    print(i)

1
2
(1, 1, 12, 2)

#5)Support for Common Set Operations: Sets support mathematical operations such as union, intersection, difference, and symmetric difference.

#sets operations
#union >> combines elements from two sets excluding duplicates
#intersection >> common element in both sets
#difference >> returns the elemenet present in first sets not in 2nd sets
#symmetric difference >> returns the element present in either of the sets but not in both the sets

In [154]:
#union >> combining both the element
s1 = {"hiking","reading","coding"}
s2 = {"cycling","coding","writing"}

In [155]:
s1

{'coding', 'hiking', 'reading'}

In [156]:
s2    # union

{'coding', 'cycling', 'writing'}

In [157]:
s1 | s2       # union

{'coding', 'cycling', 'hiking', 'reading', 'writing'}

In [158]:
#intersection >> common element
s1 & s2

{'coding'}

In [159]:
#difference    #only first element without common element
s1 - s2

{'hiking', 'reading'}

In [160]:
#symmetric difference    #except common
s1 ^ s2

{'cycling', 'hiking', 'reading', 'writing'}

# 6) Discuss the use cases of tuples and sets on Python programming

### Common Use Cases for Tuples:

#### Returning Multiple Values from a Function >>Functions in Python can return multiple values using tuples.

In [162]:
def min_max(numbers):
    return min(numbers), max(numbers)

result = min_max([3, 1, 4, 1, 5, 9])
print(result)

(1, 9)

#### Storing Heterogeneous Data: Tuples are often used to store heterogeneous data â€” data of different types  as a single, cohesive unit.

In [163]:
person = ("Alice", 30, "Engineer")
print(person)

('Alice', 30, 'Engineer')

#### Using as Keys in Dictionaries: Tuples can be used as keys in dictionaries because they are immutable.

In [164]:
coordinates = {(1, 2): "Point A", (3, 4): "Point B"}
print(coordinates[(1, 2)])

Point A

#### Representing Fixed Collections: Tuples are useful for representing fixed sets of data that should not change throughout the program

In [165]:
months = ("January", "February", "March", "April", "May", "June", 
          "July", "August", "September", "October", "November", "December")
print(months[0])

January

In [166]:
#use case >> tuples used as data structure where we dont wanna to modify the data
empl_id =(1,2,34,4)
empl_id[2] = 23

TypeError: 'tuple' object does not support item assignment

### Use Cases of Sets

#Removing Duplicates: Sets can be used to remove duplicate items from a list or any iterable.

In [167]:
numbers = {1, 2, 2, 3, 4, 4, 5}   #removes all duplicates 
numbers

{1, 2, 3, 4, 5}

#Membership Testing: Checking if an item is in a collection is very fast with sets

In [168]:
colors = {"red", "green", "blue"}
print("red" in colors)  
print("yellow" in colors)

True
False

#Mathematical Set Operations: Sets are ideal for performing mathematical operations like union, #intersection, difference, and symmetric difference

In [178]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [179]:
a | b    #union

{1, 2, 3, 4, 5, 6}

In [180]:
a & b   #intersection

{3, 4}

In [181]:
a - b    #difference

{1, 2}

In [182]:
a ^ b    #symmetric difference

{1, 2, 5, 6}

#Storing Unique Elements: Whenever you need to maintain a collection of unique elements, sets are the ideal #data structure.

In [183]:
unique_items = set(["apple", "orange", "banana", "apple", "pear"])
print(unique_items)

{'apple', 'orange', 'pear', 'banana'}

#converts list to sets

In [184]:
list1 = ["apple","mango","apple",1,1,2,2]   #convert list to sets
s =set(list1)
s

{1, 2, 'apple', 'mango'}

In [185]:
list1 =list(s)   #convert set to list
list1

['apple', 2, 'mango', 1]

In [186]:
s

{1, 2, 'apple', 'mango'}

In [187]:
type(s)

set

# 7)Describe how to add, modify, and delete items in a dictionary with examples?

#dictionary >> data structure that store data as a key value pair 
#keys are unique and immutable
#note : dictionaries are unordered >> but from python 3.7 version dictionaries retain the order of insertion
#this means if u iterate over a dictionary,the item will be returned in the order they were added

In [188]:
d ={}
type(d)

dict

#### Adding Items to a Dictionary

In [190]:
d = {"name":"neil","class":"UKG","email":"krackofficer@gmail.com","roll":75,}
d

{'name': 'neil', 'class': 'UKG', 'email': 'krackofficer@gmail.com', 'roll': 75}

In [191]:
d["city"] = "Bareilly"      # Adding a new key-value pair
d

{'name': 'neil',
 'class': 'UKG',
 'email': 'krackofficer@gmail.com',
 'roll': 75,
 'city': 'Bareilly'}

In [195]:
d1 = {"course":"data analytics","hobby":"coding"}   # Adding multiple items
d1

{'course': 'data analytics', 'hobby': 'coding'}

In [197]:
d.update(d1)
d

{'name': 'neil',
 'class': 'UKG',
 'email': 'krackofficer@gmail.com',
 'roll': 75,
 'city': 'Bareilly',
 'course': 'data analytics',
 'hobby': 'coding'}

#### Modifying Items in a Dictionary

#### Modifying an existing item

In [206]:
d = {"name":"neil","class":"UKG","email":"krackofficer@gmail.com","roll":75,}
d

{'name': 'neil', 'class': 'UKG', 'email': 'krackofficer@gmail.com', 'roll': 75}

In [208]:
d["name"] = "DEVANSH"
d

{'name': 'DEVANSH',
 'class': 'UKG',
 'email': 'krackofficer@gmail.com',
 'roll': 75}

#### Modifying multiple items using update()

In [209]:
d2 = {"bazigar":"shahrukh","mela":"amir"}
d2

{'bazigar': 'shahrukh', 'mela': 'amir'}

In [210]:
d.update(d2)

In [211]:
d

{'name': 'DEVANSH',
 'class': 'UKG',
 'email': 'krackofficer@gmail.com',
 'roll': 75,
 'bazigar': 'shahrukh',
 'mela': 'amir'}

 #### Deleting Items from a Dictionary

####To delete items from a dictionary, you can use the del statement or the pop() method>> You can also use the popitem() method to remove the last inserted key-value pair >> or the clear() method to remove all items.

In [218]:
# Using del to delete an item by key
d

{'name': 'DEVANSH',
 'class': 'UKG',
 'email': 'krackofficer@gmail.com',
 'roll': 75,
 'bazigar': 'shahrukh'}

In [220]:
del d["roll"]    #deleted roll from key,value pair

In [221]:
d

{'name': 'DEVANSH',
 'class': 'UKG',
 'email': 'krackofficer@gmail.com',
 'bazigar': 'shahrukh'}

In [222]:
del d     # deleted the whole dictionary

In [223]:
d

NameError: name 'd' is not defined

In [224]:
# Using pop() to remove an item and get its value
d = {"name":"neil","class":"UKG","email":"krackofficer@gmail.com","roll":75}
d

{'name': 'neil', 'class': 'UKG', 'email': 'krackofficer@gmail.com', 'roll': 75}

In [225]:
d.pop("email")  #to remove any key,values
d

{'name': 'neil', 'class': 'UKG', 'roll': 75}

In [226]:
# Using popitem() to remove the last inserted item
d.popitem()

('roll', 75)

In [227]:
d

{'name': 'neil', 'class': 'UKG'}

In [228]:
# Using clear() to remove all items
d.clear()

In [229]:
d       #no element is left

{}

# 8) Discuss the importance of dictionary keys being immutable and provide examples?


#### In Python, dictionary keys must be immutable. This means that the keys cannot be changed after they are #created. This immutability is crucial because dictionary keys are hashed for fast access, and mutable #objects (like lists) can change, causing their hash value to change, which would lead to inconsistent #behavior in dictionaries.

#Hashing Requirement: Dictionaries are implemented as hash tables in Python. For a key to be hashed #reliably, its hash value must remain constant during its lifetime. Mutable objects like lists or #dictionaries can change, which means their hash value can also change. If the hash of a key changes after #insertion, it would make locating the key in the dictionary impossible.

#Consistency: Immutability of keys ensures consistent behavior when accessing dictionary values. If keys #were mutable, changes to the key could make it impossible to retrieve the corresponding value.

#Performance: Immutable keys ensure that the dictionary can achieve its average-case constant-time #complexity (O(1)) for lookup operations. This efficiency is achieved because the hash values do not change, #allowing for quick access to stored values.

#### Examples Demonstrating the Immutability Requirement

#Example 1: Using Immutable Keys (Strings, Tuples)
#Immutable objects like strings, numbers, and tuples can be used as dictionary keys:

In [233]:
# Valid dictionary keys
person = {
    "name": "Alice",   # String key (immutable)
    42: "Age",         # Integer key (immutable)
    (1, 2): "Point A"  # Tuple key (immutable)
}

print(person["name"])  
print(person[42])      
print(person[(1, 2)])

Alice
Age
Point A

#Example 2: Attempting to Use a Mutable Key (List)
#If you try to use a mutable type like a list as a dictionary key, Python will raise a TypeError

In [234]:
# Invalid dictionary keys
try:
    invalid_dict = {
        [1, 2, 3]: "Invalid Key"  # List key (mutable)
    }
except TypeError as e:
    print(e)

unhashable type: 'list'

#Example 3: Mutable Key Would Cause Inconsistency
#If mutable keys were allowed, it would lead to inconsistent behavior. Consider the following:

In [235]:
# Hypothetical example (This will raise an error in reality)
try:
    # Assume a list is allowed as a key (it is not in practice)
    mutable_key = [1, 2, 3]
    example_dict = {mutable_key: "Some Value"}
    
    # Changing the list after insertion
    mutable_key.append(4)
    
    # Attempt to access the value with the modified key
    print(example_dict[mutable_key])  # Would raise an error or behave inconsistently
except TypeError as e:
    print(e)  # Output: unhashable type: 'list'

unhashable type: 'list'

### THANK U FOR GIVING LOVELY PROJECT!